
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.incident-header {
	background-color: #f3f3f3; 
	margin-bottom: 40px;
}
.tweet {
	height: 250px;
	div {
		height: 200px;
		overflow: scroll;
	}
	a {
		h4 {
			width: 100%;
			overflow-x: hidden
		}
	}
}

@media(max-width: 767px) {
	.tweet {
		height: auto;
	}
}

.incident {
	background-color: #fff; 
	padding: 20px;
	margin-bottom: 40px;
}
.ul-left-shift {
	margin-left: -20px;
}
.summary {
	background-color: #fff; 
	padding:20px 15px;
}
.hero-text {
	margin-bottom: 50px;
}
.flex-center {
	margin: 0 auto; 
	display: table;
}